*,*::before,*::after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
    
    &:hover{
        opacity: 0.8;
    }
}

img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
}

body{
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    line-height: 1.5;
}

.container{
    max-width: #{$container-lg + $gutter};
    margin: 0 auto;
    padding: 0 calc($gutter / 2);

    @media (max-width: $breakPoint-md) {
        max-width: #{$container-md + $gutter};
    }
    
    @media (max-width: $breakPoint-sm) {
        max-width: #{$container-sm + $gutter};
    }
}


h2{
    font-size: $fz-16;
    font-weight: bold;
}

h3{
    font-size: $fz-12;
    font-weight: bold;
}

h4{
    font-size: $fz-9;
}

h5{
    font-size: $fz-6;
    font-weight: bold;
}



@media (max-width: $breakPoint-sm) {

    h2, h3, h5{
        font-size: $fz-6;
    }

    h4{
        font-size: $fz-4;;
    }
    
}