@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----- text -----*/
.text-center {
  text-align: center;
}

.prevent-select {
  user-select: none;
}

.text-leftLine {
  padding-left: 16px;
  border-left: 8px solid #9F1213;
  margin-bottom: 32px;
}
@media (max-width: 375px) {
  .text-leftLine {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

/*----- background -----*/
.bg-primary {
  background-color: #AA0601;
}

.bg-lightPrimary {
  background-color: #FBF2F2;
}

/*----- row + col -----*/
.row {
  display: flex;
  margin: 0 -12px;
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333%;
}

.col-11 {
  width: 91.667%;
}

.col-12 {
  width: 100%;
}

@media (max-width: 768px) {
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .col-sm-12 {
    width: 100%;
  }
}
/*----- flex -----*/
.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.justify-sb {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/*----- padding + margin -----*/
.mx-auto {
  margin: 0 auto;
}

/*----- others -----*/
*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: middle;
}

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 372px;
  }
}

h2 {
  font-size: 64px;
  font-weight: bold;
}

h3 {
  font-size: 48px;
  font-weight: bold;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 375px) {
  h2, h3, h5 {
    font-size: 24px;
  }
  h4 {
    font-size: 16px;
  }
}
.header {
  padding: 16px 0px;
}
.header nav {
  display: flex;
  justify-content: space-between;
}
.header .logo {
  width: 80px;
  height: 50px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background: center/contain no-repeat url("../../images/logo-white.png");
}
.header__menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__menu li a {
  display: block;
  font-size: 20px;
  color: white;
  padding: 8px 32px;
}
.header__menu li:last-child a {
  padding-right: 0;
}

@media (max-width: 768px) {
  .header {
    padding-bottom: 0;
  }
  .header nav {
    max-width: 100%;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }
  .header .logo {
    margin-left: 16px;
    margin-bottom: 16px;
  }
  .header li {
    width: 50%;
    text-align: center;
    border: 1px solid white;
  }
  .header li a {
    font-size: 16px;
    padding: 12px 0px;
  }
}
.footer {
  padding-top: 60px;
}
.footer a {
  display: block;
  color: white;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 32px;
}
.footer .footer__content {
  display: flex;
  flex-direction: column;
}
.footer .footer__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.footer .footer__menu a {
  text-align: center;
  padding: 12px 24px;
}
.footer .footer__menu li:first-child a {
  padding-left: 0;
}
.footer .footer__aboutUs li a {
  display: flex;
  align-items: center;
  font-size: 36px;
}
.footer .footer__aboutUs li a span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  margin-right: 16px;
}
.footer .footer__aboutUs li:first-child {
  margin-bottom: 8px;
}
.footer .footer__app {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__app a {
  padding: 0 16px;
}
.footer .footer__app li:last-child a {
  padding-right: 0;
}
.footer .footer__app img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}
.footer .footer__copyright {
  color: white;
}
.footer .footer__terms {
  display: flex;
}
.footer .footer__terms a {
  padding: 0px 24px;
}
.footer .footer__terms li:last-child a {
  padding-right: 0;
}

@media (max-width: 768px) {
  .footer {
    padding-top: 24px;
  }
  .footer__top {
    margin-bottom: 24px;
  }
  .footer .footer__menu {
    display: none;
  }
  .footer .footer__aboutUs li > a {
    font-size: 16px;
  }
  .footer .footer__aboutUs li > a span {
    margin-right: 10px;
  }
  .footer .footer__app a {
    padding: 0px 8px;
  }
  .footer__bottom {
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .footer .footer__copyright {
    margin-bottom: 8px;
  }
  .footer .footer__terms {
    flex-direction: column;
  }
  .footer .footer__terms a {
    padding: 0;
    padding-bottom: 8px;
  }
}
form {
  display: flex;
  flex-direction: column;
}

.form__list {
  /*----- checkbox -----*/
}
.form__list input, .form__list textarea {
  padding: 6px 0px;
  padding-left: 12px;
  background-color: transparent;
  border: 1px solid black;
  font-size: 16px;
  line-height: 1.5;
  outline: none;
}
.form__list input::placeholder, .form__list textarea::placeholder {
  color: black;
  opacity: 0.2;
}
.form__list input[type=checkbox] {
  display: none;
}
.form__list input[type=checkbox] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 18px;
  height: 18px;
  margin-right: 7px;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  flex-shrink: 0;
}
.form__list input[type=checkbox]:checked + *::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "✔";
  color: white;
  background: #AA0601;
  border-color: transparent;
}
.form__list input[type=checkbox] + * {
  display: inline-flex;
  align-items: center;
}
.form__list li {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.form__list li:last-child {
  margin-bottom: 48px;
}
@media (max-width: 375px) {
  .form__list li:last-child {
    margin-bottom: 24px;
  }
}
.form__list li label:not(:last-child) {
  margin-bottom: 8px;
}
.form__list li .privacy {
  display: flex;
  align-items: center;
}

.submitBtn {
  padding: 16px 176px;
  align-self: center;
  border: none;
  font-size: 16px;
  color: white;
  background-color: #AA0601;
  cursor: pointer;
}
@media (max-width: 768px) {
  .submitBtn {
    width: 100%;
    padding: 16px 0px;
  }
}

.faq {
  max-width: 856px;
  padding-top: 96px;
  padding-bottom: 80px;
}
.faq h5 {
  margin-bottom: 24px;
}
.faq__list li:not(:last-child) {
  margin-bottom: 32px;
}
.faq__list .faq__title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .faq {
    padding-top: 80px;
  }
}
@media (max-width: 375px) {
  .faq {
    padding-top: 40px;
    padding-bottom: 64px;
  }
}/*# sourceMappingURL=faq.css.map */