$gutter: 24px;
$gutter-half: calc($gutter / 2);

$container-lg: 1296px;
$container-md: 696px;
$container-sm: 348px;

$breakPoint-md: 768px;
$breakPoint-sm: 375px;

$imgPath: "../images/";

$primary: #AA0601;
$primary-light: #FBF2F2;
$primary-dark: #650300;
$primary-border: #9F1213;

$secondary: #555555;
$secondary-light: #F2F2F2;
$secondary-border: #CED4DA;
$secondary-text: #495057;

$dark: black;
$dark-border: #00000020;
$light: white;

$radius: 4px;

$fz-16: 64px;
$fz-12: 48px;
$fz-9: 36px;
$fz-8: 32px;
$fz-6: 24px;
$fz-5: 20px;
$fz-4: 16px;

$mbX: 18;