/*----- text -----*/
.text-center{
    text-align: center;
}

.prevent-select{
    user-select: none;
}

.text-leftLine{
    padding-left: 16px;
    border-left:  8px solid $borderPrimary;
    margin-bottom: 32px;

    @media (max-width: $breakPoint-sm) {
        font-size: $fz-6;
        margin-bottom: 24px;
    }
}

/*----- background -----*/
.bg-primary{
    background-color: $primary;
}

.bg-lightPrimary{
    background-color: $lightPrimary;
}

.bg-darkPrimary{
    background-color: $darkPrimary;
}

/*----- display -----*/
@media (max-width: $breakPoint-md) {
    .md-none{
        display: none;
    }
}

@media (max-width: $breakPoint-sm) {
    .sm-none{
        display: none;
    }
}

/*----- row + col -----*/
.row{
    display: flex;
    margin: 0 #{-(calc($gutter / 2))};
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: percentage(calc(round(calc($i / 12 * 100000)) / 100000));
    }
}

@media (max-width: $breakPoint-md) {
    .col-md-6{
        width: 50%;
    }
    
    .col-md-12{
        width: 100%;
    }
}

@media (max-width: $breakPoint-sm) {
    .col-sm-12{
        width: 100%;
    }
}

/*----- flex -----*/
@mixin flex($justify: flex-start, $align: flex-start){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin size($w, $h){
    width: $w;
    height: $h;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

.justify-sb{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

/*----- padding + margin -----*/
@mixin px($px){
    padding-left: $px;
    padding-right: $px;
}

@mixin py($py){
    padding-top: $py;
    padding-bottom: $py;
}

.mx-auto{
    margin: 0 auto;
} 

%mx--gutter{
    margin: 0 #{-(calc($gutter / 2))};
}

%px-gutter{
    padding: 0 #{calc($gutter / 2)};
}


/*----- others -----*/
%line{
    border: 1px solid blue;
}