<div class="flex justify-center">
    <ul class="pagination">
        <li><button class="page-preBtn">上一頁</button></li>
        <li><a href="#" class="page-link">1</a></li>
        <li><a href="#" class="page-link">2</a></li>
        <li><a href="#" class="page-link">3</a></li>
        <li><a href="#" class="page-link">4</a></li>
        <li><a href="#" class="page-link">5</a></li>
        <li><button class="page-nextBtn">下一頁</button></li>
    </ul>
</div>