<section class="bg-darkPrimary md-none">
    <div class="container flex justify-sb align-center">
        <ul class="subHeader__list">
            <li><a href="#">最新消息</a></li>
            <li><a href="#">特別企劃</a></li>
            <li><a href="#">新品上市</a></li>
            <li><a href="#">鏡框小知識</a></li>
        </ul>
        <span class="material-icons-outlined searchIcon">search</span>
    </div>
</section>