form{
    display: flex;
    flex-direction: column;
}

.form__list{
    input, textarea{
        padding: 6px 12px;
        background-color: transparent;
        border: 1px solid $dark;
        font-size: 16px;
        line-height: 1.5;
        outline: none;
    
        &::placeholder{
            color: $dark;
            opacity: 0.2;
        }
    }

    /*----- textarea -----*/
    textarea {
        resize: none;
    
        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            background-color: $primary;
        }
        
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }
    
    /*----- checkbox -----*/
    .privacy {
        display: block;
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover input ~ .checkmark {
            background-color: $secondary-light;
        }

        input {
            display: none;

            &:checked ~ .checkmark {
                background-color: $primary;
                border: none;
            }

            &:checked ~ .checkmark:after {
                display: block;
            }
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            @include size(20px, 20px);
            background-color: transparent;
            border: 2px solid rgb(52, 52, 52);
            border-radius: 4px;

            &:after {
                content: "";
                position: absolute;
                display: none;
                top: 4px;
                left: 7px;
                @include size(6px, 10px);
                border: solid white;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
            }
        }
    }
    
    li{
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;

        &:last-child{
            margin-bottom: 48px;
            
            @mixin sm{
                margin-bottom: 24px;
            }
        }

        label:not(:last-child){
            margin-bottom: 8px;
        }
    
        .privacy{
            display: flex;
            align-items: center;
        }
    }
}

.submitBtn{
    padding: 16px 176px;
    align-self: center;
    border: none;
    font-size: $fz-4;
    color: white;
    background-color: $primary;
    cursor: pointer;

    @mixin md{
        width: 100%;
        padding: 16px 0px;
    }
}