.pagination{
    display: inline-flex;
    border: 1px solid $gray;


    li{
        &:not(:last-child){
            border-right: 1px solid $gray;
        }

        .page-link{
            display: block;
            padding: 12px 16px;
        }

        .page-link:hover, .page-active{
            background-color: black;
            color: white;
        }

        .page-preBtn, .page-nextBtn{
            height: 100%;
            padding: 12px;
            border: none;
            background-color: transparent;
            color: black;

            &:hover{
                background-color: $lightGray;
                color: $gray;
                opacity: 1;
            }
        }

        @media (max-width: $breakPoint-md) {
            .page-preBtn, .page-nextBtn{
                padding: 12px 8px;
            }
        }

        @media (max-width: $breakPoint-sm) {
            &:nth-child(5), &:nth-child(6){
                display: none;
            }
        }
    }
}