.footer{
    padding-top: 60px;

    @include md{
        padding-top: 24px;
    }

    a{
        display: block;
        color: white;
    }


    &__top{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 32px;

        @include md{
            margin-bottom: 24px;
        }
    }

    .footer__content{
        display: flex;
        flex-direction: column;
    }

    .footer__menu{
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;

        @include md{
            display: none;
        }

        a{
            text-align: center;
            padding: 12px 24px;
        }

        li:first-child{
            a{
                padding-left: 0;
            }
        }
    }

    .footer__aboutUs  {
        li {
            a{
                display: flex;
                align-items: center;
                font-size: $fz-9;

                @include md{
                    font-size: $fz-4;
                }

                span{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 36px;
                    margin-right: 16px;

                    @include md{
                        margin-right: 10px;
                    }
                }
            }

            &:first-child{
                margin-bottom: 8px;
            }
        }  
    }


    .footer__app{
        @include flex(space-between, center);

        a{
            padding: 0 16px;
                
            @include md{
                padding: 0px 8px;
            }

            @include sm{
                padding: 0px;
            }
        }

        li:last-child{
            a{
                padding-right: 0;
            }
        }

        img{
            @include size(40px, 40px);
            object-fit: contain;
        }
    }

    
    &__bottom{
        display: flex;
        justify-content: space-between;
        @include py(32px);

        @include md{
            flex-direction: column;
            @include py(16px);
        }
    }

    .footer__copyright{
        color: white;

        @include md{
            margin-bottom: 8px;
        }
    }

    .footer__terms{
        display: flex;

        @include md{
            flex-direction: column;
        }

        a{
            padding: 0px 24px;

            @include md{
                padding: 0;
                padding-bottom: 8px;
            }
        }

        li:last-child{
            a{
                padding-right: 0;
            }
        }
    }
}



