.header{
    padding: 16px 0px;

    @include md{
        padding-bottom: 0;
    }

    nav{
        display: flex;
        justify-content: space-between;

        @include md{
            max-width: 100%;;
            flex-direction: column;
            @include px(0px);
        }
    }

    .logo{
        @include size(80px, 50px);
        display: block;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
        @include bg-contain("#{$imgPath}logo-white.png");

        @include md{
            margin-left: 16px;
            margin-bottom: 16px;
        }
    }

    &__menu{
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        li{
            a{
                display: block;
                font-size: $fz-5;
                color: $light;
                padding: 8px 32px;

                @include md{
                    font-size: $fz-4;
                    padding: 12px 0px;
                }
            }

            &:last-child{
                a{
                    padding-right: 0;
                }
            }

            @include md{
                width: 50%;
                text-align: center;
                border: 1px solid $light;
            }
        }
    }
}
