.blogDetail{
    display: flex;
    padding-top: 24px;
    padding-bottom: 80px;

    @include md{
        padding-top: 8px;
    }
    
    @media(max-width: 480px){
        padding-top: 16px;
        padding-bottom: 64px;
    }
}

.blogDetail__content{
    @include w-col(8);
    margin-right: 24px;

    @media(max-width: 480px){
        width: 100%;
        margin-right: 0;
    }

    .content__breadList{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 8px;
    
        li{
            a{
                padding: 0px 4px ;
            }
    
            &:not(:last-child):after {
                content: "/";
            }
    
            &:last-child{
                a{
                    color: $primary;
                }
            }
        }
    }

    .content__shortTag{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 8px;
    
        li{
            margin-right: 15px;
        }
    
        a{
            font-size: $fz-6;
            font-weight: bold;
            color: $primary;
    
            @media(max-width: 480px){
                font-size: $fz-4;
            }
        }
    }

    h3{
        @media(max-width: 480px){
            font-size: $fz-6;
        }
    }
    
    h5{
        margin-bottom: 16px;
        font-weight: 500;
    
        @media(max-width: 480px){
            font-size: $fz-4;
        }
    }
    
    img{
        max-height: 520px;
        margin-bottom: 8px;
    }
    
    p{
        margin-bottom: 40px;
        color: $secondary;
    
        @include md{
            margin-bottom: 24px;
        }
    
        @media(max-width: 480px){
            margin-bottom: 16px;
        }
    }

    .content__appList{
        display: flex;
        align-items: center;
        gap: 0px 16px; 
        padding-bottom: 16px;
        margin-bottom: 24px;
        border-bottom: 1px solid $secondary;
    
        @media(max-width: 480px){
            display: none;
        }
    
        li{
            @include size(24px, 24px);
        }
    
        span{
            font-weight: bold;
        }
    
        a{
            display: block;
        }
    }

    .content__pageBlock{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include md {
            gap: 10px;
            justify-content: center;
        }
    
        @media(max-width: 480px){
            display: none;
        }
    
        a{
            display: flex;
            align-items: center;
        }
    }
}

.blogDetail__sidebar{
    width: 30%;
    padding-top: 52px;

    @media(max-width: 480px){
        display: none;
    }

    .sidebar__title{
        display: flex;
        align-items: center;
        margin-bottom: 4px;

        @include md{
            margin-bottom: 8px;
        }

        span{
            margin-right: 12px;
            font-size: 38px;
            color: $primary;

            @include md{
                margin-right: 2px;
            }
        }

        h4{
            font-weight: bold;
            color: $primary;

            @include md{
                font-size: $fz-4;
            }
        }
    }

    .sidebar__tagList{
        display: flex;
        flex-wrap: wrap;
        gap: 4px 24px;
        
        @include md{
            gap: 0px 16px;
        }
        
        a{
            font-weight: bold;
            font-size: $fz-6;
            color: $primary;

            @include md{
                font-size: $fz-4;
            }
        }
    }
}