.blog{
    margin-top: 96px;
    margin-bottom: 80px;

    @include md{
        margin-top: 80px;
    }

    @include sm{
        margin-top: 40px;
        margin-bottom: 64px;
    }
}

.blog__list{
    display: flex;
    flex-direction: column;
    margin-bottom: 124px;
    gap: 60px 0px;

    @include md{
        gap: 24px 0px;
        margin-bottom: 80px;
    }

    @include sm{
        margin-bottom: 64px;
    }

    li{
        display: flex;
        gap: 0px 24px;

        @include sm{
            flex-direction: column;
        }
    }

    .detailLink{
        @include w-col(6);

        img{
            height: 100%;
        }

        @include sm{
            width: 100%;
            margin-bottom: 8px;
            margin-right: 0;
        }
    }
    
}

.blog__contentBlock{
    display: flex;
    flex-direction: column;
    @include w-col(6);

    @include sm{
        width: 100%;
    }
}

.blog__titleBlock{
    h5{
        color: $primary-dark;
        font-size: $fz-8;

        @include md{
            font-size: $fz-6;
        }
    }

    .subTitle{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;

        @include md{
            margin-bottom: 4px;
        }

        @include sm{
            margin-bottom: 0px;
        }

        .text-medium{
            font-weight: 500;
            font-size: $fz-5;

            @include md{
                font-weight: 500;
                font-size: $fz-4;
            }
        }

        .date{
            font-weight: 500;

            @include md{
                font-weight: 500;
            }
        }
    }
}

.blog__textBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    p{
        font-size: $fz-5;
        color: $secondary;

        @include md{
            font-size: $fz-4;
        }

        @include sm{
            display: none;
        }
    }

    .moreBtn-lg{
        align-self: flex-end;
        display: inline-block;
        font-size: $fz-9;
        font-weight: bold;
        color: $primary-dark;
        
        @include md{
            display: none;
        }
    }

    .moreBtn-md{
        display: none;

        @include md{
            display: inline-block;
        }
    }
}


