.faq{
    max-width: 856px;
    padding-top: 96px;
    padding-bottom: 80px;

    @include md{
        padding-top: 80px;
    }

    @include sm{ 
        padding-top: 40px;
        padding-bottom: 64px;
    }

    h5{
        margin-bottom: 24px;
    }

    &__list{
        li:not(:last-child){
            margin-bottom: 32px;
        }

        .faq__title{
            margin-bottom: 8px;
            font-size: $fz-5;
            font-weight: bold;
        }
    }
}