.product__tabList{
    display: flex;

    @include md{
        padding: 0px;
    }
    
    li{
        width: calc(100% / 3);
    }

    button{
        font-family: "Roboto";
        width: 100%;
        @include py(24px);
        font-size: $fz-8;
        font-weight: 500;
        border: 1px solid $secondary-border;
        border-top: none;
        border-bottom: 8px solid transparent;
        background-color: white;
        color: $dark;
        cursor: pointer;
    
        &:hover{
            opacity: 0.8;
            border-bottom: 8px solid $secondary-border;
        }
        @include md{
            @include py(16px);
            font-size: $fz-6;
        }

        @media (max-width: 500px) {
            font-size: $fz-4;
        }
    }

    .active{
        border-bottom: 8px solid $primary;
    }
}

.product__banner{
    display: flex;
    margin-bottom: 80px;

    @include sm{
        margin-bottom: 40px;
    }

    img{
        width: 50%;
        min-height: 296px;

        @include sm{
            min-height: 136px;
        }
    }
}

.product__content{
    padding-bottom: 80px;
    text-align: center;

    @include sm{
        padding-bottom: 64px;
    }

    h2{
        font-size: 42px;
        color: $dark;
        font-weight: 500;

        @include sm{
            font-size: $fz-6;
        }
        
    }

    h3{
        margin-bottom: 32px;
        font-size: $fz-8;
        color: $dark;
        font-weight: normal;

        @include sm{
            margin-bottom: 24px;
            font-size: $fz-6;
        }
    }
}

.content__productList{
    display: flex;
    flex-wrap: wrap;
    gap: 80px 24px;
    margin-bottom: 80px;

    @include md{
        gap: 40px 24px;
    }
    
    @include sm{
        gap: 24px 0px;
        margin-bottom: 64px;
    }

    li{
        width: calc((100% - 72px) / 4);

        @include md{
            width: calc((100% - 24px) / 2);
        }
        
        @include sm{
            width: 100%;
        }
    }

    .productBlock__text{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        h5{
            color: $dark;
            font-weight: normal;
        }

        p{
            font-size: $fz-6;
            font-weight: 500;
            color: $primary;
        }
    }

    .productBlock__color{
        display: flex;
        gap: 0px 8px;

        .brown-bg, .orange-bg{
            @include size(24px, 24px);
            border-radius: 4px;
        }

        .brown-bg{
            background-color: #5F3E2D;
        }

        .orange-bg{
            background-color: #B75929;
        }
    }
}