.shop, .shopDetail{
    padding-top: 96px;
    padding-bottom: 80px;

    @mixin md{
        padding-top: 80px;
    }

    @mixin sm{
        padding-top: 40px;
        padding-bottom: 64px;
    }
}

.shop__selectCity, .shop__selectStore{
    display: flex;
    min-width: 304px;
    width: 32%;
    display: flex;
    margin-bottom: 40px;

    @mixin sm{
        width: 100%;
        margin-bottom: 24px;
    }

    label{
        margin-right: 16px;
        font-size: $fz-6;
    }

    .shop__selectBlock{
        flex-grow: 1;
        position: relative;

        select {
            width: 100%;
            appearance: none;
            -moz-appearance: none; /* Firefox */
            -webkit-appearance: none; /* Safari and Chrome */

            position: relative;
            outline: none;
            padding: 6px 12px;
            font-size: 18px;
            border: 1px solid $secondary-border;
            color: $secondary-text;
        }

        &:after {
            font-family: 'Material Icons';
            content: '\e5c5';
            position: absolute;
            font-size: 24px;
            right: 12px;
            color: $dark;
            pointer-events: none;
        }
    }
    
}

.shop__list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;

    @mixin md{
        gap: 24px;
    }
}

.shop__block{
    display: flex;
    flex-direction: column;
    width: calc((100% - 48px) / 3);

    @mixin md{
        width: calc((100% - 24px) / 2);
    }

    @media (max-width: 630px) {
        width: 100%;
    }

    .block__text{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        border: 1px solid $dark-border;

        h5{
            padding: 16px 24px;
            color: $dark;
            font-weight: normal;
            border-bottom: 1px solid $dark-border;
        }
    
        .block__list{
            flex-grow: 1;
            padding: 16px 24px;
        
            li{
                display: flex;
                align-items: center;
                margin-bottom: 8px;
                font-size: $fz-5;
        
                span{
                    margin-right: 11px;
                    font-size: 18px;
                }
            }
        }

        a{
            @include py(16px);
            display: block;
            background-color: $dark;
            color: white;
            font-size: 19px;
            text-align: center;
        }
    }

}

/*----- shopDetail -----*/

.shopDetail__content{
    display: flex;
    gap: 0px 24px;

    @mixin md{
        flex-direction: column;
        gap: 24px 0px;
    }

    .shopDetail__block{
        width: 40%;
    
        @mixin md{
            width: 100%;
            flex-direction: row;
            gap: 0px 24px;

            img{
                width: calc((100% - 24px) / 2);
            }
        }
    
        @media (max-width: 600px) {
            flex-direction: column;
            gap: 0px;

            img{
                width: 100%;
            }
        }
    }

    iframe{
        width: 55%;
        height: auto;

        @mixin md{
            width: 100%;
            min-height: 400px;
        }
    }
}

