@import "../main.scss";

.blog{
    margin-top: 96px;
    margin-bottom: 80px;

    @media (max-width: $breakPoint-md) {
        margin-top: 80px;
    }

    @media (max-width: $breakPoint-sm) {
            margin-top: 40px;
            margin-bottom: 64px;
    }
}

.blog__list{
    display: flex;
    flex-direction: column;
    margin-bottom: 124px;

    @media (max-width: $breakPoint-md) {
        margin-bottom: 80px;
    }

    @media (max-width: $breakPoint-sm) {
        margin-bottom: 64px;
    }

    li{
        display: flex;

        &:not(:last-child){
            margin-bottom: 60px;
        }

        @media (max-width: $breakPoint-md) {

            &:not(:last-child){
                margin-bottom: 24px;
            }
        }

        @media (max-width: $breakPoint-sm) {
            flex-direction: column;
        }

        img{
            width: 50%;
            max-width: 636px;
            margin-right: 24px;

            @media (max-width: $breakPoint-sm) {
                width: 100%;
                margin-bottom: 8px;
                margin-right: 0;
            }
        }

        
    }
}

.blog__textBlock{
    display: flex;
    flex-direction: column;

    .blog__titleBlock{

        h5{
            color: $darkPrimary;
            font-size: $fz-8;
            font-weight: normal;

            @media (max-width: $breakPoint-md) {
                font-size: $fz-6;
            }
        }

        .blog__subTitle{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;

            @media (max-width: $breakPoint-md) {
                margin-bottom: 4px;
            }

            .text-medium{
                font-weight: 500;
                font-size: $fz-5;
            }

            .date{
                font-weight: 500;
            }

            @media (max-width: $breakPoint-md) {

                .text-medium{
                    font-weight: 500;
                    font-size: $fz-4;
                }
            
                .date{
                    font-weight: 500;
                }
            }
            
        }
    }

    .blog__contentBlock{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        p{
            position: relative;
            font-size: $fz-5;
            color: $gray;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
            // text-overflow: ellipsis;

            @media (max-width: $breakPoint-md) {
                font-size: $fz-4;

                &::after {
                    content: "...more";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: white;
                    padding: 0 6px;
                    font-size: $fz-4;
                    color: $gray;
                }
            }

            @media (max-width: $breakPoint-sm) {
                display: none;
            }
        }

        .lg-moreBtn{
            align-self: flex-end;
            display: inline-block;
            font-size: $fz-9;
            font-weight: bold;
            color: $darkPrimary;
            
            @media (max-width: $breakPoint-md) {
                display: none;
            }
        }
    }
}

