<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>week3</title>
    <%- include('./layout/head.ejs'); -%>
</head>
<body>
    <%- include('./layout/header.ejs'); -%>
    
    <%- include('./layout/subHeader.ejs'); -%>
    <main class="container blogDetail">
        <div class="blogDetail__content">
            <ul class="content__breadList">
                <li><a href="#">首頁</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href="#">特別企劃</a></li>
                <li><a href="#">情人特別企劃</a></li>
            </ul>
            <ul class="content__shortTag">
                <li><a href="#">#special</a></li>
                <li><a href="#">#event</a></li>
            </ul>
            <h3>情人特別企劃</h3>
            <h5>2020 Valentine’s Special</h5>
            <img src="../assets/images/blogpage-1.png" alt="blog1">
            <p>
                一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
            </p>
            <img src="../assets/images/blogpage-2.png" alt="blog2">
            <p>
                一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
            </p>
            <img src="../assets/images/blogpage-3.png" alt="blog3">
            <p>
                一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
            </p>
            <img src="../assets/images/blogpage-4.png" alt="blog4">
            <p>
                2/14(五)-2/20(日) 至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個 期間優惠還有~~持他牌鏡框更換鏡片 薄型非球面鏡片折300元 濾藍光鏡片折500元 快快帶上另一半 讓彼此每一次睜開眼，都被愛的視線包圍!
            </p>
            <ul class="content__appList">
                <span>Share</span>
                <li><a href="#"><img src="../assets/images/logo-facebook.png" alt="fb"></a></li>
                <li><a href="#"><img src="../assets/images/logo-instagram.png" alt="ig"></a></li>
            </ul>
            <ul class="content__pageBlock">
                <li><a href="#"><span class="material-icons-outlined">west</span>上一篇：街頭潮人訪問 1</a></li>
                <li><a href="#">下一篇：街頭潮人訪問 2<span class="material-icons-outlined">east</span></a></li>
            </ul>
        </div>

        <div class="blogDetail__sidebar">
            <div class="sidebar__title">
                <span class="material-icons-outlined">label</span>
                <h4>TAGS</h4>
            </div>
            <ul class="sidebar__tagList">
                <li><a href="#">#special</a></li>
                <li><a href="#">#sale</a></li>
                <li><a href="#">#new_item</a></li>
                <li><a href="#">#interview</a></li>
                <li><a href="#">#trivia</a></li>
                <li><a href="#">#news</a></li>
                <li><a href="#">#event </a></li>
            </ul>
        </div>
    </main>
    <%- include('./layout/footer.ejs'); -%>
    
    <script type="module" src="../js/main.js"></script>
</body>