<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>week3</title>
    <%- include('./layout/head.ejs'); -%>
</head>
<body>
    <%- include('./layout/header.ejs'); -%>
    
    <ul class="container product__tabList">
        <li><button class="active">OPTICAL</button></li>
        <li><button>SUNGLASSES</button></li>
        <li><button>FUNCTIONAL</button></li>
    </ul>
    
    <div class="product__banner">
        <img src="../assets/images/product-header-1.png" alt="banner1">
        <img src="../assets/images/product-header-2.png" alt="banner2">
    </div>

    <main class="container product__content">
        <h2>Celluloid Combi</h2>
        <h3>賽璐珞鈦金屬混合鏡框</h3>
        <ul class="content__productList">
            <li>
                <a href="#">
                    <img src="../assets/images/product-1.png" alt="product1">
                    <div class="productBlock__text">
                        <h5>BJ41600S</h5>
                        <p>NTD3,490</p>
                    </div>
                    <ul class="productBlock__color">
                        <li class="brown-bg">&nbsp;</li>
                        <li class="orange-bg">&nbsp;</li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-2.png" alt="product2">
                    <div class="productBlock__text">
                        <h5>BJ41600S</h5>
                        <p>NTD3,490</p>
                    </div>
                    <ul class="productBlock__color">
                        <li class="brown-bg">&nbsp;</li>
                        <li class="orange-bg">&nbsp;</li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-3.png" alt="product3">
                    <div class="productBlock__text">
                        <h5>BJ41600S</h5>
                        <p>NTD3,490</p>
                    </div>
                    <ul class="productBlock__color">
                        <li class="brown-bg">&nbsp;</li>
                        <li class="orange-bg">&nbsp;</li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-4.png" alt="product4">
                    <div class="productBlock__text">
                        <h5>BJ41600S</h5>
                        <p>NTD3,490</p>
                    </div>
                    <ul class="productBlock__color">
                        <li class="brown-bg">&nbsp;</li>
                        <li class="orange-bg">&nbsp;</li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-5.png" alt="product5">
                    <div class="productBlock__text">
                        <h5>BJ41600S</h5>
                        <p>NTD3,490</p>
                    </div>
                    <ul class="productBlock__color">
                        <li class="brown-bg">&nbsp;</li>
                        <li class="orange-bg">&nbsp;</li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-6.png" alt="product6">
                    <div class="productBlock__text">
                        <h5>BJ41600S</h5>
                        <p>NTD3,490</p>
                    </div>
                    <ul class="productBlock__color">
                        <li class="brown-bg">&nbsp;</li>
                        <li class="orange-bg">&nbsp;</li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-7.png" alt="product7">
                    <div class="productBlock__text">
                        <h5>BJ41600S</h5>
                        <p>NTD3,490</p>
                    </div>
                    <ul class="productBlock__color">
                        <li class="brown-bg">&nbsp;</li>
                        <li class="orange-bg">&nbsp;</li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-8.png" alt="product8">
                    <div class="productBlock__text">
                        <h5>BJ41600S</h5>
                        <p>NTD3,490</p>
                    </div>
                    <ul class="productBlock__color">
                        <li class="brown-bg">&nbsp;</li>
                        <li class="orange-bg">&nbsp;</li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-9.png" alt="product9">
                    <div class="productBlock__text">
                        <h5>BJ41600S</h5>
                        <p>NTD3,490</p>
                    </div>
                    <ul class="productBlock__color">
                        <li class="brown-bg">&nbsp;</li>
                        <li class="orange-bg">&nbsp;</li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-10.png" alt="product10">
                    <div class="productBlock__text">
                        <h5>BJ41600S</h5>
                        <p>NTD3,490</p>
                    </div>
                    <ul class="productBlock__color">
                        <li class="brown-bg">&nbsp;</li>
                        <li class="orange-bg">&nbsp;</li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-11.png" alt="product11">
                    <div class="productBlock__text">
                        <h5>BJ41600S</h5>
                        <p>NTD3,490</p>
                    </div>
                    <ul class="productBlock__color">
                        <li class="brown-bg">&nbsp;</li>
                        <li class="orange-bg">&nbsp;</li>
                    </ul>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/product-12.png" alt="product12">
                    <div class="productBlock__text">
                        <h5>BJ41600S</h5>
                        <p>NTD3,490</p>
                    </div>
                    <ul class="productBlock__color">
                        <li class="brown-bg">&nbsp;</li>
                        <li class="orange-bg">&nbsp;</li>
                    </ul>
                </a>
            </li>
        </ul>

        <%- include('./layout/pagination.ejs'); -%>
    </main>

    <%- include('./layout/footer.ejs'); -%>

    <script type="module" src="../js/main.js"></script>
    <script type="module" src="../js/pagination.js"></script>
</body>
</html>