<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>week3</title>
    <%- include('./layout/head.ejs'); -%>
</head>
<body>
    <%- include('./layout/header.ejs'); -%>
    <main class="container shop">
        <h3 class="text-leftLine">門市據點</h3>
        <div class="shop__selectRow">
            <label for="city">選擇地區</label>
            <div class="selectBlock">
                <select id="city" name="city">
                    <option>請選擇地區</option>
                    <option value="taipei">台北市</option>
                    <option value="taichung">台中市</option>
                    <option value="kaohsiung">高雄市</option>
                </select>
            </div>
        </div>
        <ul class="shop__list">
            <li class="block">
                <img src="../assets/images/store-1.png" alt="shop1">
                <div class="block__content">
                    <h5>台北中山旗艦店</h5>
                    <ul class="block__list">
                        <li><span class="material-icons-outlined">phone</span>電話：(02)000-1234</li>
                        <li><span class="material-icons-outlined">schedule</span>營業時間：10:00-21:00</li>
                        <li><span class="material-icons-outlined">place</span>地址：台北市中山區南京路25巷2-1號</li>
                    </ul>
                    <a href="./shopDetail.html">詳細資訊</a>
                </div>
            </li>
            <li class="block">
                <img src="../assets/images/store-2.png" alt="shop2">
                <div class="block__content">
                    <h5>台北綠園店</h5>
                    <ul class="block__list">
                        <li><span class="material-icons-outlined">phone</span>電話：(02)000-2345</li>
                        <li><span class="material-icons-outlined">schedule</span>營業時間：10:00-21:00</li>
                        <li><span class="material-icons-outlined">place</span>地址：台北市中正區復興南路 132-1 號</li>
                    </ul>
                    <a href="./shopDetail.html">詳細資訊</a>
                </div>
            </li>
            <li class="block">
                <img src="../assets/images/store-3.png" alt="shop3">
                <div class="block__content">
                    <h5>台中清水旗艦店</h5>
                    <ul class="block__list">
                        <li><span class="material-icons-outlined">phone</span>電話：(04)000-1234</li>
                        <li><span class="material-icons-outlined">schedule</span>營業時間：10:00-21:00</li>
                        <li><span class="material-icons-outlined">place</span>地址：台中市清水區經南一路 23 號 8 樓</li>
                    </ul>
                    <a href="./shopDetail.html">詳細資訊</a>
                </div>
            </li>
            <li class="block">
                <img src="../assets/images/store-4.png" alt="shop4">
                <div class="block__content">
                    <h5>高雄中正形象店</h5>
                    <ul class="block__list">
                        <li><span class="material-icons-outlined">phone</span>電話：(07)000-2345</li>
                        <li><span class="material-icons-outlined">schedule</span>營業時間：10:00-21:00</li>
                        <li><span class="material-icons-outlined">place</span>地址：高雄市苓雅區中正路 38 號 12 樓</li>
                    </ul>
                    <a href="./shopDetail.html">詳細資訊</a>
                </div>
            </li>
            <li class="block">
                <img src="../assets/images/store-5.png" alt="shop5">
                <div class="block__content">
                    <h5>高雄夢時代店</h5>
                    <ul class="block__list">
                        <li><span class="material-icons-outlined">phone</span>電話：(07)000-1234</li>
                        <li><span class="material-icons-outlined">schedule</span>營業時間：10:00-21:00</li>
                        <li><span class="material-icons-outlined">place</span>地址：高雄市前鎮區中華一路 63 號 6 樓</li>
                    </ul>
                    <a href="./shopDetail.html">詳細資訊</a>
                </div>
            </li>
        </ul>
    </main>
    <%- include('./layout/footer.ejs'); -%>
    <script type="module" src="../js/main.js"></script>
</body>
</html>