.header{
    background-color: $primary;

    nav{
        @include flex(space-between, center);

        .logo{
            @include size(80px, 50px);
            display: block;
            text-indent: 101%;
            overflow: hidden;
            white-space: nowrap;
            background: center/contain no-repeat url("../../images/logo-white.png");

        }
    }

    &__menu{
        display: flex;

        a{
            display: block;
            padding: 25px 32px;
            font-size: $fz-5;
            color: white;
        }

        li:last-child{
            a{
                padding-right: 0px;
            }
        }
    }
    
}


@media screen and (max-width: $phoneBreakPoint) {
    .header{
        nav{
            padding: 0;
            flex-direction: column;
            align-items: flex-start;

            h1{
                @include py(16px);
                padding-left: 15px;
            }
        }

        &__menu{
            width: 100%;
            flex-wrap: wrap;

            li{
                width: 50%;
                border: 1px solid white;
                text-align: center;
                
                a{
                    padding: 12px 0px;
                }
            }
        }
    }
}