@mixin flex($justify: flex-start, $align: flex-start){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin size($w, $h){
    width: $w;
    height: $h;
}

@mixin py($py){
    padding-top: $py;
    padding-bottom: $py;
}

%line{
    border: 1px solid blue;
}

%column{
    display: flex;
    flex-direction: column;
}

%justify-sb{
    display: flex;
    justify-content: space-between;
}

%align-center{
    display: flex;
    align-items: center;
}