$containerMaxWidth: 1296px;

$padBreakPoint: 992px;
$phoneBreakPoint: 767px;

$primary: #AA0601;
$lightPrimary: #FBF2F2;
$darkPrimary: #650300;
$secondary: black;

$radius: 4px;

$fz-16: 64px;
$fz-12: 48px;
$fz-9: 36px;
$fz-8: 32px;
$fz-6: 24px;
$fz-5: 20px;
$fz-4: 16px;

$mbX: 12;